@font-face {
    font-family: 'Aeonik';
    src: url(../) format('woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'Aeonik';
    src: url(../fonts/Aeonik-Regular.woff2) format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Aeonik';
    src: url(../fonts/Aeonik-Medium.woff2) format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'Aeonik';
    src: url(../fonts/Aeonik-Bold.woff2) format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Pretendard';
    src: url(../fonts/Pretendard-Regular.woff2) format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Pretendard';
    src: url(../fonts/Pretendard-Bold.woff2) format('woff2');
    font-weight: 700;
}