.container{
    width: 100%;
    min-width: 320px;
    @include tablet{
        margin-top: 10rem;
    }
    @include mobile{
        margin-top: 10rem;
    }
}
.sc-headline{
    position: relative;
    height: 100vh;
    @include tablet{
        height: 50vh;
    }
    @include mobile{
        height: 45vh;
    }
    .group-headline{
        position: absolute;
        bottom: 60px;
        pointer-events: auto;
    }
    .headline{
        font-size: 12.5rem;
        font-weight: 500;
        text-transform: uppercase;
        @include tablet{
            font-size: 7.2rem;
        }
        @include mobile{
            font-size: 3.2rem;
        }
        span{
            display: inline-block;
            will-change: transform, opacity;
        }
        .another{
            color: $color-orange1;
        }
        .hide-br{
            display: none;
            @include mobile{
                display: block;
            }
        }
    }
}

.sc-about{
    padding: 10rem 0;
    @include tablet{
        padding: 7rem 0;
    }
    @include mobile{
        padding: 4rem 0;
    }
    .content{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 59%;
        @include tablet{
            gap: 1.5rem;
            width: 84%;
        }
        @include mobile{
            gap: 1rem;
            width: 100%;
        }
    }
    .group-headline{
        font-size: 1.8rem;
        color: $color-orange1;
        text-decoration: underline;
        text-transform: uppercase;
        @include tablet{
            font-size: 1.5rem;
        }
        @include mobile{
            font-size: 1.2rem;
        }
    }
    .group-about{
        display: flex;
        flex-direction: column;
        width: 100%;
        .desc{
            font-size: 1.6rem;
            line-height: 150%;
            letter-spacing: 0.01rem;
            @include tablet{
                font-size: 1.2rem;
            }
            @include mobile{
                font-size: 0.97rem;
            }
        }
    }
}

.sc-projects{
    padding-bottom: 10rem;
    @include tablet{
        padding-bottom: 7rem;
    }
    @include mobile{
        padding-bottom: 4rem;
    }
    .headline{
        position: relative;
        font-size: 1.8rem;
        padding: 5em 0;
        text-transform: uppercase;
        color: $color-orange1;
        text-align: center;
        text-decoration: underline;
        @include tablet{
            font-size: 1.5rem;
            padding: 4rem 0;
        }
        @include mobile{
            font-size: 1.2rem;
            padding: 3rem 0;
        }
    }
    .projects-list{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        @include mobile{
            flex-wrap: nowrap;
            flex-direction: column;
            gap: 3rem;
        }
    }
    .projects-item{
        opacity: 0;
        margin-top: 10rem;
        transform: translateY(50px);
        transition: opacity 0.5s ease, transform 0.5s ease;
        @include tablet{
            margin-top: 7.5rem;
        }
        @include mobile{
            margin-top: 0;
        }
    }
    .projects-item:nth-child(1){
        width: 59%;
        margin-top: 0;
        @include mobile{
            width: 100%;
        }
    }
    .projects-item:nth-child(2){
        width: 39%;
        margin-left: 2%;
        margin-top: 0;
        @include mobile{
            width: 100%;
            margin-left: 0;
        }
    }
    .projects-item:nth-child(3){
        width: 38.33%;
        margin-left: 20.33%;
        @include mobile{
            width: 100%;
            margin-left: 0;
        }
    }
    .projects-item:nth-child(4){
        width: 38.33%;
        margin-left: 2%;
        @include mobile{
            width: 100%;
            margin-left: 0;
        }
    }
    .projects-item:nth-child(5){
        width: 42.77%;
        @include mobile{
            width: 100%;
        }
    }
    .projects-item:nth-child(6){
        width: 48.23%;
        margin-left: 7%;
        @include mobile{
            width: 100%;
            margin-left: 0;
        }
    }
    .content{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .img-area{
        position: relative;
        transition: transform .5s;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.15);
        }
        &:hover{
            transform: scale(1.1);
        }
        @include mobile{
            height: 35vh;
        }
    }
    .img-area:nth-child(1){
        padding-bottom: calc((580 / 1030) * 100%);
    }
    .img-area:nth-child(2){
        padding-bottom: calc((383 / 680) * 100%);
    }
    .img-area:nth-child(3),
    .img-area:nth-child(4){
        padding-bottom: calc((377 / 679) * 100%);
    }
    .img-area:nth-child(5){
        padding-bottom: calc((420 / 746) * 100%);
    }
    .img-area:nth-child(6){
        padding-bottom: calc((474 / 842) * 100%);
    }
    img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .text-area{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.25rem;
        text-transform: uppercase;
        @include tablet{
            flex-direction: column;
            align-items: flex-start;
            gap: 0.3rem;
            margin-top: 0.8rem;
        }
    }
    .text-wrap{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        line-height: 145%;
        @include tablet{
            gap: 0.2rem;
        }
        .title{
            font-size: 1.3rem;
            font-weight: 700;
            @include tablet{
                font-size: 1rem;
            }
        }
    }
    .text-box{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        @include tablet{
            gap: 0.8rem;
        }
        @include mobile{
            gap: 0.5rem;       
        }
        span{
            font-size: 1rem;
            @include tablet{
                font-size: 0.8rem;
            }
        }
    }
    .link-wrap{
        display: flex;
        gap: .8rem;
        a{
            display: block;
        }
        span{
            position: relative;
            font-size: 1.3rem;
            color: $color-orange1;
            text-decoration: underline;
            @include tablet{
                font-size: 1rem;
            }
        }
    }
}
